.quiz-box {
  width: 500px;
  height: 500px;
  background-color: #82cfff;
  margin: 200px auto auto auto;
  border-radius: 10px;
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.25);
}

.timerBox {
  width: 40px;
  height: 40px;
  background-color: white;
  padding: 10px;
  position: relative;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 10px;
  text-align: center;
}
.start-game-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.start-game-text h1 {
  padding: 5px;
  font-size: 40px;
  text-align: center;
}

.start-game-text h2 {
  text-align: center;
  font-size: 24px;
}

.quiz-buttons {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 50px;
}
.start-quiz,
.view-highscore {
  padding: 5px;
  border-radius: 10px;
}

.questionHeader {
  float: left;
  vertical-align: top;
}

.questionFormat {
  text-align: center;
  margin: 5px;
  width: 100%;
  display: inline-block;
}

.choices {
  padding: 10px;
  margin-bottom: 10px;
  background-color: navy;
  color: white;
  border-radius: 10px;
  width: 100%;
  display: inline;
}

.choices:hover {
  background-color: rebeccapurple;
}
